<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Me</title>

    <script src="https://kit.fontawesome.com/f8ca3d18f3.js" crossorigin="anonymous"></script>
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
          <link href="static/style.css" rel="stylesheet" type="text/css">
            <link href="static/style1.css" rel="stylesheet" type="text/css">
          <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@100&display=swap" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body class="contact">
{% include 'navbar.html' %}




    <div class="container">
      <span class="big-circle"></span>
      <img src="img/shape.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Let's get in touch</h3>
          <p class="text">
             I'm currently open to freelance projects.


          </p>

          <div class="info">
            <div class="information">
              <img src="img/location.png" class="icon" alt="" />
              <p>Haven Court,Westlands,Nairobi</p>
            </div>
            <div class="information">
              <img src="img/email.png" class="icon" alt="" />
              <p>www.justjerono.co.ke</p>
            </div>
            <div class="information">
              <img src="img/phone.png" class="icon" alt="" />
              <p>+2547 90 128 957</p>
            </div>
          </div>

          <div class="social-media">
            <p>Connect with us :</p>
            <div class="social-icons">
              <a href="https://twitter.com/just_jerono">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://www.instagram.com/just_jerono/">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>

          <form action="contactme.html" autocomplete="off">
            <h3 class="title">Leave A Message</h3>

            <div class="input-container">
              <input type="text" name="name" class="input" />
              <label for="">Name</label>
              <span>Username</span>
            </div>

            <div class="input-container">
              <input type="email" name="email" class="input" />
              <label for="">Email</label>
              <span>Email</span>
            </div>

            <div class="input-container textarea">
              <textarea name="message" class="input"></textarea>
              <label for="">Your Message</label>
              <span>Message</span>
            </div>

            <div>
                   <button class="btn">Send Message</button>
            </div>

          </form>
        </div>
      </div>
    </div>

    <script src="app.js"></script>
{% include 'footer.html' %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>


</body>
</html>