.footer{
	background-color: grey;
}
.navbar{
	padding-left: 2%;
	padding-top: 2%;
	padding-right: 2%;
	margin: 2%;



}
.contact {

}
.style{
    background-image: url('');
}
.bolded{
   color:000000;
}